@import "_variables.scss";

@mixin wrap{
    max-width: 1140px;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;

}

button, input{
 font-family: inherit;
}

.hidden{
    width: 1px;
    height: 1px;
    position: absolute;
    left: -999999px;
    margin: -1px;
}

.wrap{
    max-width: 1140px;
    margin: 0 auto;
}

.main-header{
    background-color: #222222;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    padding-top: 18px;
    padding-bottom: 19px;
    display: inline-block;
}

.main-link{
    margin-right: 41px;
}

.search-button, .menu-button{
    background-color: transparent;
    fill: #E8E8E8;
    border: none;
}

.search-button:active, .menu-button:active{
    fill: $main-color;
}

.registration-link{
    margin-left: 32px;
    margin-right: 32px;
    fill: #E8E8E8;
    &:hover{
        fill: $main-color;
    }
}

.basket-link{
    padding-right: 10px;
    position: relative;
    fill: #E8E8E8;
    &:hover{
        fill: $main-color;
    }
}

.basket-count-block{
    position: absolute;
    right: 0px;
    top: 10px;
    background-color: $main-color;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.basket-count{
    line-height: 14px;
    font-size: 12px;
    color: #FFFFFF;
}

.offer{
    background-color: #F1E4E6;
}

.offer-wrap{
    padding: 1px;
    background-image: url(../img/offer.png);
    background-repeat: no-repeat;
    height: 764px;
    background-size: contain;
}

.main-title{
    border-left: 12px solid $main-color;
    margin-top: 290px;
    float: right;
    margin-right: 98px;
    padding-left: 16px;
}
.main-title-first-part{
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222
}

.main-title-second-part{
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.main-title-last-part{
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: $main-color;
}

.categories{
    padding-top: 65px;
    padding-bottom: 96px;
}

.categories-list{
    display: flex;
    list-style-type: none;
    gap: 30px;
    flex-wrap: wrap;
}

.category-link{
    text-decoration: none;
}

.category{
 background-color: #C4C4C4;
 width: 360px;
 height: 260px;
 position: relative;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
}

.category-list-item:nth-child(1) .category {
    background-image: url(../img/for_women.png);
}

.category-list-item:nth-child(2) .category{
    background-image: url(../img/for_men.png);
}

.category-list-item:nth-child(3) .category{
    background-image: url(../img/for_kids.png);
}

.category-list-item:nth-child(4) .category, .category-list-item:nth-child(4) {
    background-image: url(../img/ACCESORIES.png);
    width: 100%;
    height: 180px;

}

.category-title{
    text-align: center;
}

.category-title-top{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 2px;
}

.category-title-bottom{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $main-color;
}

.products{
    display: flex;
    flex-direction: column;
    &_product-page_wrap{
        margin-bottom: 128px;
    }
}

.products-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product-card{
    max-width: $product_card_width;
    background-color: #F8F8F8;
}

.products-top-title{
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.products-top-text{
    text-align: center;
    padding-top: 6px;
    padding-bottom: 48px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.product-card-link{
    text-decoration: none;
}

.product-img{
    width: 100%;
}

.product-text-wrap{
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 20px;
}

.product-title{
    padding-top: 25px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.product-text{
    padding-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.product-price{
    padding-top: 18px;
    font-size: 16px;
    line-height: 19px;
    color: $main-color;
}


.product-video-content{
     height: 420px;
     width: 360px;
    }
    
.product-video-wrap{

    overflow:hidden;
    display:block;
}

.products-view-all-link{
    text-decoration: none;
    align-self: center;
    margin-top: 48px;
    text-decoration: none;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    margin-bottom: 98px;
    color: #F26376;
    &:hover{
        color: #FFFFFF;
        background-color: $main-color;
    }
}


.features{
    background-color: #222224;
}

.features-wrap{
    display: flex;
    justify-content: space-between;
}

.feature{
    text-align: center;
    padding-top: 103px;
    padding-bottom: 104px;
    max-width: 360px;
}

.feature-bg-wrap{
    height: 88px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.feature-bg-delivery{
    background-image: url(../img/feature_1.svg);
}

.feature-bg-sales{
    background-image: url(../img/feature_2.svg);
}

.feature-bg-quality{
    background-image: url(../img/feature_3.svg);
}

.feature-title{
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.feature-text{
    padding-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}

.main-footer{
    background-image: url(../img/main-footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-footer-wrap{
    display: flex;
    justify-content: space-between;
}

.quote-block{
 width: 360px;
 padding-top: 96px;
 padding-bottom: 126px;
}

.quote-photo{
    background-image: url(../img/quote_photo.png);
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.quote-text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.quote-text-ital{
    font-style: italic;
}

.main-footer-feedback{
    text-align: center;
    padding-top: 140px;
    margin-right: 98px;

}

.main-footer-feedback-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.main-footer-feedback-mini-title{
    font-size: 18px;
    font-weight: normal;
    line-height: 167.2%;
    color: #222224;
}

.main-footer-feedback-form{
    margin-top: 39px;
    display: flex;
}

.main-footer-feedback-input{
    border: none;
    background: #E1E1E1;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    width: 256px;
    padding-left: 22px;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
} 

.main-footer-feedback-btn{
    border: none; 
    background-color: $main-color;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 16px 25px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.foooter-bottom{
    background-color: #222224;
    padding-top: 23px;
    padding-bottom: 23px;
}

.foooter-bottom-wrap{
    display: flex;
    justify-content: space-between;
}

.all-rights{
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    align-self:center;
}

.social-links-list{
    display: flex;
    list-style-type: none;
}

.social-link-item{
    padding-left: 7px;
    fill: black;
    &:hover{
        fill: white;
    }
    &:hover .bcg-social-icon{
        fill: $main-color;
    }
}

.bcg-social-icon{
    fill: white;
}



/*START CATALOG PAGE*/

.nav-info-block{
    height: 148px;
    background-color: #F8F3F4;
    display: flex;
    align-items: center;
}

.nav-info-block-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-info-block-title{
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
}

.breadcrumbs-item::before {
  content: '/';
  margin-right: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: 0.2s;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: 0.2s;
}

.breadcrumbs-link--current {
  font-weight: bold;
  color: $main-color;
}

.breadcrumbs-link[href]:hover {
  text-decoration: underline;
  color: $main-color;
}

.products-choice-menu{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;

}

.products-choice-menu-wrap{
    width: $product_card_width;

}

.products-filter-btn{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    background: transparent;
    padding-left: 11px;
    fill: black;
    display: flex;
    align-items: center;

}

.products-filter-btn-text{
    padding-right: 11px;
}

.products-filter-btn:active{
    color:  #EF5B70;
    fill: #EF5B70;
}

.param-block__btn{
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    background: transparent;
    margin-right: 28px;
}
.param-block__fa{
    margin-left: 10px;
}

.param-block-product_wrap{
    margin-bottom: 48px;
}

.catalog-pagination-list{
    display: flex;
    list-style-type: none;
    align-self: center;
    margin-top: 48px;
    margin-bottom: 96px;
    border: 1px solid #EBEBEB;
    color: #C4C4C4;
}

.catalog-pagination-link{
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: inherit;
}

.catalog-pagination-list-item{

    padding: 12px 10px;
    &:hover{
        color: #EF5B70;
    }
}


/*END CATALOG PAGE*/


/*START PRODUCT PAGE*/

@import "product/_slider.scss";

/*END PRODUCT PAGE*/