*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

button, input{
 font-family: inherit;
}

.wrap{
    max-width: 1140px;
    margin: 0 auto;
}

.main-header{
    background-color: #222222;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    padding-top: 18px;
    padding-bottom: 19px;
    display: inline-block;
}

.main-link{
    padding-right: 41px;
}

.contact-link{
    padding-left: 33px;
}

.basket-link{
    padding-left: 33px;
    padding-right: 10px;
    position: relative;

}

.basket-count-block{
    position: absolute;
    right: 0px;
    top: 10px;
    background-color: #F16D7F;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.basket-count{
    line-height: 14px;
    font-size: 12px;
    color: #FFFFFF;
}

.offer{
    background-color: #F1E4E6;
}

.offer-wrap{
    background-image: url(../img/offer.png);
    background-repeat: no-repeat;
    height: 764px;
    background-position: -222px;
}

.main-title{
    border-left: 12px solid #F16D7F;
    margin-top: 290px;
    float: right;
    margin-right: 98px;
    padding-left: 16px;
}
.main-title-first-part{
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222
}

.main-title-second-part{
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.main-title-last-part{
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #F16D7F;
}

.categories{
    margin-top: 65px;
}

.categories-top{
    display: flex;
    justify-content: space-between;
}

.category-link:first-child{
    padding-right: 30px;
}

.category-link:last-child{
    padding-left: 30px;
}

.category{
    position: relative;
}
.category-img{
    width: 100%;
}


.category-title{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.category-title-top{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 2px;
}


.category-title-bottom{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.categories-bottom{
    padding-top: 30px;
    padding-bottom: 96px;
}

.products{
    display: flex;
    flex-direction: column;
}


.products-top-title{
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.products-top-text{
    text-align: center;
    padding-top: 6px;
    padding-bottom: 48px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.products-line-top, .products-line-bottom{
    display: flex;
    justify-content: space-between;
}

.products-line-bottom{
    padding-top: 30px;
}


.product-card-link{
    text-decoration: none;
}

.product-card{
    max-width: 360px;
    background-color: #F8F8F8;

}

.product-card-link:first-child{
    padding-right: 30px;
}

.product-card-link:last-child{
    padding-left: 30px;
}

.product-img{
    width: 100%;
}

.product-text-wrap{
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 20px;
}

.product-title{
    padding-top: 25px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.product-text{
    padding-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.product-price{
    padding-top: 18px;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.products-view-all-link{
    align-self: center;
    margin-top: 48px;
    text-decoration: none;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    margin-bottom: 98px;
}



.features{
    background-color: #222224;
}

.features-wrap{
    display: flex;
    justify-content: space-between;
}

.feature{
    text-align: center;
    padding-top: 103px;
    padding-bottom: 104px;
    max-width: 360px;
}

.feature-img-wrap{
    height: 64px;
}

.feature-title{
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.feature-text{
    padding-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}

.main-footer{
    background-image: url(../img/main-footer-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-footer-wrap{
    display: flex;
    justify-content: space-between;
    
}

.quote-block{
 width: 360px;
 padding-top: 96px;
 padding-bottom: 126px;
}

.quote-photo{
    display: block;
    margin: 0 auto;
}



.quote-text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.quote-text-ital{
    font-style: italic;
}

.main-footer-feedback{
    text-align: center;
    padding-top: 96px;
    margin-right: 98px;

}

.main-footer-feedback-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.main-footer-feedback-mini-title{
    font-size: 18px;
    font-weight: normal;
    line-height: 167.2%;
    color: #222224;
}

.main-footer-feedback-form{
    margin-top: 39px;
    display: flex;
}

.main-footer-feedback-input{
    border: none;
    background: #E1E1E1;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    width: 256px;
    padding-left: 22px;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
} 

.main-footer-feedback-btn{
    border: none; 
    background-color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 16px 25px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.foooter-bottom{
    background-color: #222224;
    padding-top: 23px;
    padding-bottom: 23px;
}

.foooter-bottom-wrap{
    display: flex;
    justify-content: space-between;
}

.all-rights{
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    align-self:center;
}

.social-links-img{
    padding-left: 7px;
}
