@import "_variables.scss";

@mixin wrap{
    max-width: 1140px;
    margin: 0 auto;
}

@mixin bcg-blackout{
    content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    z-index: -1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

button, input{
 font-family: inherit;
}

.hidden{
    width: 1px;
    height: 1px;
    position: absolute;
    left: -999999px;
    margin: -1px;
}

.wrap{
    max-width: 1140px;
    margin: 0 auto;
}

@import '_main-header.scss';



.offer{
    background-color: #F1E4E6;
}

.offer-wrap{
    padding: 1px;
    background-image: url(../img/offer.png);
    background-repeat: no-repeat;
    height: 764px;
    background-size: contain;
}

.main-title{
    border-left: 12px solid $main-color;
    margin-top: 290px;
    float: right;
    margin-right: 98px;
    padding-left: 16px;
}
.main-title-first-part{
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222
}

.main-title-second-part{
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.main-title-last-part{
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: $main-color;
}



@import "index/_product-section";

@import "index/_category-section";

@import "index/_feature-section";

@import "_main-footer";




/*START CATALOG PAGE*/

.nav-info-block{
    height: 148px;
    background-color: #F8F3F4;
    display: flex;
    align-items: center;
}

.nav-info-block-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-info-block-title{
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
    font-weight: normal;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
}

.breadcrumbs-item::before {
  content: '/';
  margin-right: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: 0.2s;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition-duration: 0.3s;
}

.breadcrumbs-link--current {
  font-weight: bold;
  color: $main-color;
}

.breadcrumbs-link[href]:hover {
  text-decoration: underline;
  color: $main-color;
}

.products-choice-menu{
    display: flex;
    padding-top: 33px;
    padding-bottom: 50px;
    justify-content: space-between;

}

.products-choice-menu-wrap{
    width: $product_card_width;

}

.product-catalog_wrap{
    flex-grow: 1;
}

@import "catalog/_filter.scss";

@import "catalog/_param-block.scss";






.catalog-pagination-list{
    display: flex;
    list-style-type: none;
    align-self: center;
    margin-top: 48px;
    margin-bottom: 96px;
    border: 1px solid #EBEBEB;
    color: #C4C4C4;
}

.catalog-pagination-link{
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: inherit;
}

.catalog-pagination-current-link{
    color: $main-color;
}

.catalog-pagination-list-item{

    padding: 12px 10px;
    transition-duration: 0.3s;
    &:hover{
        color: #EF5B70;
    }
}


/*END CATALOG PAGE*/


/*START PRODUCT PAGE*/

@import "product/_slider.scss";

@import "_registration.scss";

/*END PRODUCT PAGE*/